.header-nav {
  display: flex;
  align-items: center;
  padding: 15px 29px;
  border-bottom: 0.2px solid #262555;
  position: fixed;
  z-index: 10;
  top: 1;
  right: 1;
  left: 1;
  margin-top: 0;
  background: #fffbeb;
}

.header-nav-logo {
  height: 30px;
  position: fixed;
  left: 1;
  right: 1;
  display: flex;
  justify-content: center;
}

.header-icon {
  max-height: 38px;
  margin-right: 20px;
}

.header-icon:last-child {
  margin-right: 0;
}

.header-baner-logo {
  max-width: 888px;
}

.header-slogan {
  color: #262555;
  text-align: center;
  font-family: "Gill Sans";
  font-weight: 1000;
  font-size: 29px;
  margin-top: 23px;
}

.header-logo {
  display: flex;
  justify-content: center;
  margin-top: 148px;
}

.header-box-beer {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}

.header-beer {
  height: 640px;
}

.header-beer-ipa {
  transform: rotate(25deg);
}

.header-beer-blonde {
  transform: rotate(-25deg);
}

.header-beer-brune {
  padding-top: 27px;
}
