.products-title {
  color: #262555;
  text-align: center;
  font-family: obviously-narrow;
  font-size: 65px;
  font-weight: 450;
  text-transform: uppercase;
  margin-top: 170px;
  margin-bottom: 56px;
}

.products-background-brune {
  background: rgba(113, 189, 145, 0.75);
  margin-top: 2px;
  height: 620px;
  position: relative;
}

.products-background-blonde {
  background: rgba(255, 211, 220, 0.75);
  margin-top: 2px;
  height: 620px;
  position: relative;
}

.products-background-ipa {
  background: rgba(255, 230, 148, 0.75);
  margin-top: 2px;
  height: 620px;
  position: relative;
}

.products-beer-title {
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 35px;
  color: #262555;
  font-family: obviously-narrow;
  font-size: 100px;
  font-weight: 800;
  line-height: 88px;
}

.products-beer-img {
  position: absolute;
  z-index: 2;
  height: 570px;
  bottom: 1;
  right: 1;
  transition: ease-out 0.1s;
}

.products-background-brune:hover .products-beer-img {
  transform: scale(1.1);
}

.products-background-blonde:hover .products-beer-img {
  transform: scale(1.1);
}

.products-background-ipa:hover .products-beer-img {
  transform: scale(1.1);
}
